.switcher{
  background: var(--swicherBG);
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  position: relative;
  transition: .2s;
  width: 75px;
  margin: auto 0;

}

.switcherCircle{
  background: #fff url(https://i.ibb.co/7JfqXxB/sunny.png) no-repeat 50%;
  border-radius: 50%;
  box-shadow: 0 0 15px #2020203d;
  height: 40px;
  position: absolute;
  right: 100%;
  -webkit-transform: translate(100%,-12.5%);
  transform: translate(100%,-12.5%);
  transition: .2s;
  width: 40px;
}
@media (max-width: 900px) {
  .switcher{
    width: 50px;
    height: 20px;
  }
  .switcherCircle{
    width: 30px;
    height: 30px;
    background-size: 60%;
  }
}
@media (max-width: 500px) {
  .switcher{
    position: absolute;
    top: 90px;
    left: 40px;
  }
}


.switcherDark{
  background: #fff url(https://i.ibb.co/FxzBYR9/night.png) no-repeat 50%;
  right: 0;
  -webkit-transform: translateY(-12.5%);
  transform: translateY(-12.5%);
}
