.search {
  display: flex;
  position: relative;
  margin-left: 80px;
  height: 60px;
  width: 100%;
  max-width: 800px;
  margin-right: 20px;

  input {
    width: 100%;
    padding: 0 100px;
    height: 100%;
    border-radius: 40px;
    border: 1px solid #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #D9D9D9;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
    outline: none;
  }

  .preloader {
    -webkit-animation: preloader .7s linear infinite;
    animation: preloader .7s linear infinite;
    display: flex;
    position: absolute;
    right: 15px;
    top: 20%;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid black;
    height: 30px;
    margin: 0 auto;
    width: 30px;
  }

  @keyframes preloader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  img {
    position: absolute;
    width: 40px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 900px) {
    & {
      margin-left: 20px;
      .preloader{
        right: 50px;
        width: 30px;
        height: 30px;
        top: 10px;
      }
      img{
        left: unset;
        right: 20px;
        width: 25px;
      }
    }
  }
  @media (max-width: 740px) {
    &{
      img{
        transform: translateY(-65%);
      }
      .preloader{
        top: 5px;
      }
    }
    & input{
      padding: 0 10px;
      height: 50px;
      &::placeholder{
        font-size: 0;
      }

    }
  }

  @media (max-width: 500px) {
    &{

    }
    & input{
      width: calc(100% - 20px);
      margin: 0;
      padding: 0 0 0 20px;

    }
  }
}

html[data-theme="dark"] {
  .search {
    input {
      background: #444444;
      color: #fff;
    }
    .preloader{
      border-top: 5px solid var(--light);
    }
    img {
      filter: invert(1);
    }
  }

}
