.weatherTimes {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;


  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 13px auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;


    div {
      width: 100%;
      max-width: 130px;
      height: 270px;
      display: flex;
      flex-direction: column;
      border-radius: 40px;
      background: linear-gradient(174deg, #443D64 -15.92%, rgba(101, 130, 198, 0.00) 192.45%);

      h3, p {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      h3 {
        font-size: 24px;
        margin: 13px auto;
      }

      p {
        line-height: normal;
        margin: 0 auto;
        font-size: 20px;
      }

      img {
        width: 80px;
        margin: 0 auto;
      }

    }

    .day {
      background: linear-gradient(171deg, #F88508 -12.41%, rgba(246, 250, 217, 0.00) 163.32%);
    }
  }

  @media (max-width: 1300px) {
    & {
      grid-column-start: 1;
      grid-column-end: 8;
      margin-bottom: 60px;
      .container{
        margin: 10px 20px;
      }
    }
  }
  @media (max-width: 1080px) {
    & {
      .container {
        margin: 0 20px;
      }
    }
  }
  @media (max-width: 1080px) {
    & {
      .container {
        gap: 20px;
        div {
          max-width: 130px;
        }
      }
    }
  }
  @media (max-width: 740px) {
    & {
      .container {
        flex-direction: column;
        div {
          max-width: none;
          flex-direction: row;
          height: 100px;
          &:last-child{
            margin-bottom: 20px;
          }

          p, h3 {
            margin: auto;
          }

          img {
            margin: auto;
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    & {
      .container {
        div {
          h3 {
            margin-left: 20px;
          }

          p:last-child {
            margin-right: 20px;
          }

          img {
            width: 60px;
          }
        }
      }
    }
  }
}

html[data-theme="dark"] {
  .weatherTimes {
    div > div {
      background: #373636;
    }
  }
}