.weatherToday {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 4;
  grid-column-end: 8;


  .temp {
    margin: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      position: relative;
    }

    & p {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      display: flex;
      align-items: center;

      span {
        font-size: 32px;
        margin-left: 5px;
      }
    }

    .sun {
      display: flex;
      margin-top: 30px;

      &:last-child {
        margin-top: 20px;
      }

      img {
        width: 48px;
        height: 48px;
        filter: invert(1);
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
      }
    }
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 26px 10px 26px 0;
    grid-gap: 10px;

    div {
      display: flex;
      flex-direction: column;
    }

    h4 {

      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: normal;
    }

    p {
      text-align: center;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    img {
      width: 60px;
      margin: 0 auto 10px;
    }
  }

  .weather {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    img {
      max-width: 250px;
      margin-bottom: 10px;
    }

    h2 {
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  @media (max-width: 1300px) {
    & {
      grid-column-start: 1;
      grid-column-end: 8;
    }
  }
  @media (max-width: 740px) {
    & {
      grid-template-columns: 1fr;
      .info{
        margin-left: 10px;
      }
      .temp {

        & > p, & > h2, & > div {
          width: 50%;
        }
        flex-direction: row;
        flex-wrap: wrap;
      }
      .weather > img {
        margin: 20px auto;
      }
    }
  }
}

html[data-theme="dark"] {
  .info div img {
    filter: invert(1);
  }

  .weatherToday .sun img {
    filter: none;
  }
}