.currentLocation{
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #4CBB17;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0 20px;
  max-width: 292px;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 0 auto;
  img{
    margin-right: 10px;
    width: 35px;
    transition: .2s;
    cursor: pointer;
    &:hover{
      filter: invert(1);
    }
  }
  span{
    margin: auto;
  }
  @media (max-width: 1300px) {
    &{max-width: 192px;}
  }
  @media (max-width: 900px) {
    &{
      height: 50px;
      font-size: 16px;
    }
  }
  @media (max-width: 500px) {
    & {
      margin-left: auto;
      margin-right: 0;
    }
  }
  @media (max-width: 400px) {
    & {
      margin-left: 100px;
    }
  }
}