.weatherFiveDays {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  @media (max-width: 1300px) {
    & {
      grid-column-start: 1;
      grid-column-end: 8;
    }
  }

  h3 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px auto 0;
  }

  .forecast {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .item {
      display: flex;
      width: 100%;
      height: 55px;

      &:not(:last-child) {
        margin-top: 5px;
      }

      p {
        margin-left: 20px;
        margin-right: 20px;
        min-width: 54px;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;

        span {
          padding-left: 10px;
        }

        &:last-child {
          margin-left: 0;
          margin-right: auto;
        }
      }

      img {
        width: 55px;
      }
    }
  }

  @media (min-width: 740px) {
    @media (max-width: 1300px) {
      .forecast {
        flex-direction: row;
        height: 100%;
        margin-bottom: 20px;

        img {
          margin: auto;
        }

        .item {
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          background: linear-gradient(172deg, #F88508 -7.42%, rgba(246, 250, 217, 0.00) 144%);

          p {
            margin: auto;
            flex-direction: column;

            span {
              padding: 10px 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  @media (max-width: 740px) {
    & {
      h3 {
        margin-top: 20px;
      }
    }
  }

  @media (min-width: 740px) {
    @media (max-width: 1300px) {
      & {
        .forecast {

          gap: 20px;

          .item {
            max-width: 130px;
            width: 100%;
            border-radius: 40px;

            &:not(:last-child) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

html[data-theme='dark'] {
  @media (min-width: 740px) {
    @media (max-width: 1300px) {
      &{
        .forecast {
          .item {
            background: #373636;
          }
        }
      }
    }
  }
}