.preloader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--light);
  z-index: 10;
  div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--dark);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: rotate 1s infinite linear;
  }
}
@keyframes rotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
html[data-theme='dark'] .preloader{
  background: var(--dark);
  div{
    border-bottom: var(--light);
  }
}