.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto 60px;

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin-top: 60px;
  }


  & > div > div {
    max-height: 365px;
    height: 100vh;
    border-radius: 30px;
    background: #D9D9D9;
    box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.50);
  }

  @media (max-width: 740px) {
    .top, .bottom{
      grid-gap: 30px;
      margin-top: 30px;
    }
    & > div > div {
      max-height: none;
      min-height:350px;
      height: auto;
    }
  }

}

html[data-theme="dark"] {
  .home > div > div {
    background: #444444;
  }
}