.header {
  display: flex;
  padding: 60px;
  @media (max-width: 1300px) {
    & {
      padding: 20px 20px 20px 0;
    }
  }
  @media (max-width: 500px) {
    & {
      flex-direction: column;
      padding: 20px 10px 20px 0;
    }
  }
}