.dateToday{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  @media (max-width: 1300px) {
    & {
      grid-column-start: 1;
      grid-column-end: 8;
    }
  }
  h2{
    margin: 50px auto 0;
  }
  h1{
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px auto 0;
  }
  p{
    margin: 10px auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}