#root {
    width: calc(100% - 40px);
    min-height: 100vh;
    height: 100vh;
    margin: 0 auto;

    @media (max-width: 1300px) {
        & {
            width: calc(100% - 250px);
        }
    }
    @media (max-width: 1080px) {
        & {
            width: calc(100% - 180px);
        }

        & p, & h3 {
            font-weight: 700;
            font-size: 20px;
        }
    }
    @media (max-width: 890px) {
        & {
            width: calc(100% - 100px);
        }

        & p, & h3 {
            font-weight: 700;
            font-size: 20px;
        }
    }
    @media (max-width: 500px) {
        & {
            width: calc(100% - 20px);
            margin-left: 5px;
        }
    }

}



html[data-theme="light"] body {
    background: var(--light);
    color: #292929 !important;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-text-fill-color: #292929 !important;
}

html[data-theme="dark"] body {
    background: var(--dark);
    color: #fff !important;
}
html body{

}