*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  font-family: Poppins, sans-serif;
}
html{
  transition: background-color .2s;
}
:root {
  --light: #c5c5c5;
  --dark: #28292c;
  --swicherBG: #ccc
}
